<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 旅行社读操作 -->
    <bean id="myTravelAgencyReadBPO" class="com.zyc.travel.bpo.read.impl.TravelAgencyReadBPOImpl">
        <property name="myJTravelAgencyMapper" ref="myJTravelAgencyMapper" />
    </bean>
    <!-- 旅行社写操作 -->
    <bean id="myTravelAgencyWriteBPO" class="com.zyc.travel.bpo.write.impl.TravelAgencyWriteBPOImpl">
        <property name="myJTravelAgencyMapper" ref="myJTravelAgencyMapper" />
    </bean>

    <!-- 联系人读操作 -->
    <bean id="myTAContactsReadBPO" class="com.zyc.travel.bpo.read.impl.TAContactsReadBPOImpl">
        <property name="myJTravelAgencyContactsMapper" ref="myJTravelAgencyContactsMapper"/>
    </bean>
    <!-- 联系人写操作 -->
    <bean id="myTAContactsWriteBPO" class="com.zyc.travel.bpo.write.impl.TAContactsWriteBPOImpl">
        <property name="myJTravelAgencyContactsMapper" ref="myJTravelAgencyContactsMapper"/>
    </bean>

</beans>