<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 旅行社写操作 -->
    <bean id="myTravelAgencyWriteService" class="com.zyc.travel.service.write.impl.TravelAgencyWriteServiceImpl">
        <property name="myTravelAgencyWriteBPO" ref="myTravelAgencyWriteBPO"/>
        <property name="myRedisUtil" ref="myRedisUtil" />
    </bean>
    <!-- 旅行社读操作 -->
    <bean id="myTravelAgencyReadService" class="com.zyc.travel.service.read.impl.TravelAgencyReadServiceImpl">
        <property name="myTravelAgencyReadBPO" ref="myTravelAgencyReadBPO"/>
    </bean>

    <!-- 联系人写操作 -->
    <bean id="myTAContactsWriteService" class="com.zyc.travel.service.write.impl.TAContactsWriteServiceImpl">
        <property name="myTAContactsWriteBPO" ref="myTAContactsWriteBPO"/>
    </bean>
    <!-- 联系人读操作 -->
    <bean id="myTAContactsReadService" class="com.zyc.travel.service.read.impl.TAContactsReadServiceImpl">
        <property name="myTAContactsReadBPO" ref="myTAContactsReadBPO"/>
    </bean>

    <!-- 旅行线路读操作 -->

    <!-- 旅行线路写操作 -->
    <bean id="myTravelLineWriteService" class="com.zyc.travel.service.write.impl.TravelLineWriteServiceImpl">
        <property name="myRedisUtil" ref="myRedisUtil"/>
        <property name="myTravelLineValidateService" ref="myTravelLineValidateService"/>
        <property name="myTravelLineWriteBPO" ref="myTravelLineWriteBPO"/>
    </bean>

    <!-- 旅行线路验证类 -->
    <bean id="myTravelLineValidateService" class="com.zyc.travel.service.validate.impl.TravelLineValidateServiceImpl">
        <property name="myTravelLineDetailValidateService" ref="myTravelLineDetailValidateService" />
        <property name="myTravelLineExtValidateService" ref="myTravelLineExtValidateService" />
    </bean>
    <bean id="myTravelLineDetailValidateService" class="com.zyc.travel.service.validate.impl.TravelLineDetailValidateServiceImpl">

    </bean>
    <bean id="myTravelLineExtValidateService" class="com.zyc.travel.service.validate.impl.TravelLineExtValidateServiceImpl">

    </bean>
</beans>